# Dependencies
node_modules

# Build output
dist
build
web_app/dist
web_app/build

# Environment variables
.env

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and miscellaneous
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db 